{% extends "layout.html" %}

{% block body %}
 

<div class = "col-md-6 offset-md-3"></div>
<h1 class = "text-center">HAKKIMDA</h1>
        <hr>
    <div class = "jumbotron text-center">
    
        
        <p>Merhaba öğrenmeyi felsefe haline getirmiş güzel insanlar ! Bu sayfada bol bol farklı konular üzerine okumuş veya kafa yormuş insanların yazıları ile internetteki blog kültürüne olan vefa borcumuzu ödemeyi planlıyoruz!</p>
        <br>
        <br>
        <br>
        <img  class="rounded" src="https://ozuburs.ozyegin.edu.tr/sites/ozuburs.ozyegin.edu.tr/files/salih-metin.png" />
        <br>
        <br>
        <h3>Merhaba Herkese ! Adım Salih , Bilgisayar Mühendisliği Hazırlık öğrencisiyim :) </h3>
        <p>Bu blog sayfasını kodlamamın sebebi , sanal ortamda varlığımı yaratmaktan ziyade insanlarla sürekli bilgi alışverişinde olmak diyebiliriz.

        </p>
        <p>Ancak bir sebebi daha var ? Üretmek !...</p>
        <p>Üretmenin bilincinde yaşamak adına bir şeyleri üretip kullanmak ve kullanıma sunmak oldukça keyifli gelmeye başlamıştı.</p>
        <p>Ailem için yazdığım bir Bütçe Programında bunu anlamıştım</p>
        <p>dilerim ki bu sayfaya davet ettiğim editörlerle birlikte güzel bir paylaşım merkezi haline gelir bu adres.</p>
        <p>HER ZAMAN AMA HER ZAMAN ELEŞTİRİ & ÖNERİ & ŞİKAYETE AÇIK OLARAK SİZLERİN GERİ DÖNÜŞLERİNİ BEKLİYOR OLACAĞIM</p>
        <p>Herkese keyifli öğrenmeler diliyorum, BİLİM ve SAĞLIKLA kalınız efendim...</p>
    </div>
</div>
{% endblock body %}
